.pink{
    font-size: 2rem;
}
.primary{
    color: tomato;
}


.btn-peraimary {
    background-color: rgb(238, 12, 216);
    color: white;
    border: 0px;
    border-radius: 10px;
    padding: 8px 15px;
}
.btn-secandary {
    background-color: rgb(12, 154, 236);
    color: white;
    border: 0px;
    border-radius: 10px;
    padding: 8px 15px;
}
/*================ nav start ================ */
.nav {
    width: 80%;
    display: flex;
    justify-content:space-between;
    align-items:center;
    
    margin: 0% 10%;

}
.nav-1st {
    display: flex;  
    justify-content: center;
    align-items: center;
}
.nav-2nd {
    display: flex;
    gap: 20px;
    /* text-decoration: none; */
}
.nav-2nd a {
    text-decoration: none;
}

/*=========================================== nav end ====================*/


/*------------------------------ banne-1 start --------------- */
.banner-1{
    width: 80%;
    margin: 5% 0% 10% 10%;
    display: flex;
    justify-content:space-between;
    align-items: center;
    
}
.banner-docu {
    width: 100%;
    font-size: large;
}
.banner-img {
    width: 100%
}
/* ---------------------------------banner end -------------------*/


/*-------------------------------------- banner-2 start  ------------------*/
.banner-2 {
    width: 80%;
    margin: 5% 0% 10% 10%;
    display: flex;
    justify-content:space-between;
    
}
.banner-pic {
    width: 50%;
}
.banner-doc {
    width: 50%;
}
#no-more{
    margin-left: 400px;
}
#our {
    margin-left: 400px;
}
#h2{
    margin-left: 150px;
}
#h1{
    margin-left: 330px;
}
/* -----------------------------------banner-2 end-----------------------------*/

/*================================= section online ===========================*/
.online{
    width: 100%;
    margin: 5% 0% 10% 10% ;
}
.cart-docu {
    width: 100% ;
    margin-left: 30%;
    margin-bottom: 20px;
}
.cart-container {
    width: 80%;
    display: flex;
    justify-content: center;
    text-align: center;
    
}
.cart {
 width: 80%;
 margin: 10px;
}
/*====================================== section online end ==============================  */


/*------------------------------ section play start ----------------------------------*/
.play-continar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: 5% 0% 10% 10%;

}
#play-h {
    margin-left: 200px;
}
#dec{
    width: 50%;
    margin: auto ; 
}
.big-pic{
    margin-left: 70px;
}
.mini-pic {
   margin-right: 50px;
   margin-top: -180px;
   border: 0px;
}
/* ***************************************section play end *******************************/


/* -----------------------------------section icon start ---------------------------------*/
.icon-container {
    display: grid;
    width: 80%;
    margin: 5% 0% 10% 10%;
    grid-template-columns:repeat(5 , 2fr);
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    border-radius: 10px;
}
.icon-container :hover {
    border: 1px solid tomato;
}
/* ----------------------------------------section icon end -----------------------*/

/*--------------------------------------- frooter start ------------------- */
footer {
    background-color: black;
    color: whitesmoke;
    margin-top: 50px;
    padding: 60px 0px;
}
.foot-img{
    display: flex;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 60px;
}
.mini-logo {
    margin-left: 60px;
    background-color: white;
    border-radius: 10px;
    padding: 10px;
}

.foot-logo {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}
.foot-con{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    justify-content: center;
    width: 50%;
    margin: auto;
}
.mini-con{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    justify-content: center;
    width: 50%;
    margin: auto;
    padding-left: 130px;
}
.end-tag{
    text-align: center;
    margin-top: 30px;
    margin-left: 10px;
}









/*--------------------------------------- frooter end ------------------- */